.App {
  text-align: center;
}


.btn1{
  width: 250px;
  height: 50px;
  background-color: red;
}

.container{
  width: 500px;
  height: 800px;
  background-color: rgb(246, 235, 237);
  margin: auto;
  text-align: center;
}

.savetask{
  display: block;
}

input{
  display: block;
  width: 80%;
  margin: auto;
  height: 2rem;
}

.formdiv{
margin: 1rem auto;
}

.savetask{
  width: 80%;
  margin: 2rem auto;
  height: 40px;
  background-color: purple;
  color: white;
}
